* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    letter-spacing: 0.6px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.container {
    max-width: 1080px;
}
.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_top {
    display: flex;
    height: 30px;
    justify-content: center;
    width: 100%;
    background-color: #931d1d;
}
.header_top_content {
    padding: 0 15px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
}
.slogan {
    font-size: 12px;
    font-weight: 600;
}
.nav-header_top {
    display: flex;
}
.nav_list {
    display: flex;
}
.nav_item {
    padding: 0 8px;
    list-style: none;
}
.nav_link {
    letter-spacing: 0px;
    font-size: 13px;
    color: #fff;
}
.nav_item:first-child::after,
.nav_item:nth-child(2)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 14px;
    width: 1px;
    color: #fff;
    border-left: 1px rgba(255, 255, 255, 0.2) solid;
}
.nav_item:first-child,
.nav_item:nth-child(2) {
    position: relative;
    /* border-right: 1px solid #adadad; */
}
.nav_social_list {
    gap: 8px;
    display: flex;
}
.nav_social_item {
    list-style: none;
}
.nav_social_link {
    color: #fff;
}
/* Main header Css */
.main_header {
    width: 100vw;
    height: 100px;
    display: flex;
    z-index: 10;
    justify-content: center;
}
.main_top_content {
    justify-content: space-between;
    display: flex;
    height: 100%;
    align-items: center;
}
.logo {
    height: 63px;
    margin-right: 30px;
}
.nav_menu_list {
    gap: 16px;
    display: flex;
}
.nav_menu_item {
    list-style: none;
    position: relative;
    display: block;
}
.nav_menu_link {
    color: #931d1d;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.nav_menu_item:hover .subnav_list {
    display: block;
}
.subnav_list {
    padding: 20px;
    z-index: 10;
    display: none;
    background-color: #fff;
    position: absolute;
    min-width: 240px;
    border: 2px solid #e3e3e3;
    top: 35px;
}
.subnav_list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    height: 30px;
    width: 100%;
    background-color: transparent;
    top: -20px;
    left: 0;
}
.before_down::before {
    content: "";
    border-width: 10px 12px;
    z-index: 1;
    border-style: solid;
    border-color: transparent transparent #e3e3e3 transparent;
    position: absolute;
    left: 19%;
    top: -21px;
}
.subnav_list::before {
    z-index: 3;
    content: "";
    border-width: 8px 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    left: 20%;
    top: -16px;
}
.subnav_link {
    color: #7d7d7d;
}
.subnav_item:nth-child(n) {
    border-top: 1px solid #e3e3e3;
    padding: 10px 0;
}
.subnav_item:first-child {
    border: none;
}
.hidden {
    display: none;
}
/* Main css */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner {
}
.img_banner {
    width: 100%;
    object-fit: cover;
}
.title_option {
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}
.line {
    flex: 1;
    height: 1.5px;
    background-color: #931d1d;
    opacity: 0.1;
}
.title_option h2 {
    color: #931d1d;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}
.scroll {
    position: fixed;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 8px 0 darkgrey;
    animation: animation_menu 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.margin {
    margin-top: 100px;
}
/* Info List Css */
.info_list {
    display: flex;
    width: 100%;
}
.info_item {
    padding: 0 15px 30px 15px;
    width: 25%;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_info {
    width: 110px;
    object-fit: cover;
}
.title_info {
    line-height: 1.6;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
}
.desc_info {
    word-wrap: break-word;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 0.2px;
}
/* Buy Book Css */
.buy_book {
    margin-bottom: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 70px;
    justify-content: space-between;
    background-color: rgb(165, 31, 36);
    color: #fff;
    width: 100%;
}
.buy_book_text {
    font-weight: 1000;
}
.here {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff;
    width: 140px;
    height: 40px;
    border: 2px solid #fff;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 1000;
    border-radius: 15px;
}
.here:hover {
    background-color: #fff;
    color: black;
}
/* Learn Css */
.key_learn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.learn_list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.learn_item {
    row-gap: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    padding: 20px 15px 30px 15px;
}
.learn_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}
.learn_img:hover {
    transform: scale(1.2);
}
.learn_img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 1s;
}
.learn_title {
    color: #931d1d;
    font-size: 18px;
    font-weight: 1000;
}
.learn_desc {
    word-wrap: break-word;
    text-align: center;
    line-height: 1.6;
    font-size: 15px;
    letter-spacing: 0.2px;
    color: #3c3c3c;
}
.advise_form {
    background-color: #aeaeae;
    display: flex;
    width: 100%;
    justify-content: center;
}
.adivise_detail {
    display: flex;
    padding: 30px 15px;
    width: 100%;
}
.poster_cate {
    width: 50%;
}
.cate_img {
    height: 448px;
    width: 448px;
    object-fit: cover;
}
.form_column {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.form-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.form_detail {
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.title_form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: #931d1d;
    font-weight: 1000;
}
.input_form {
    font-weight: bold;
    margin-top: 2px;
    padding: 0 10px;
    height: 35px;
    /* box-shadow: 0 2px 2px 0 inset; */
    outline: none;
}
.option_form {
    height: 35px;
    margin-top: 20px;
    font-weight: bold;
    outline: none;
    margin-bottom: 10px;
}
.option_form-address {
    height: 35px;
    font-weight: bold;
    outline: none;
    margin-top: 2px;
}
.btn_submit {
    width: 90px;
    height: 40px;
    margin-top: 20px;
    background-color: #dd3333;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}
.btn_submit:hover {
    background-color: #b12929;
}
.teacher {
    width: 100%;
    padding: 0 15px;
    margin-top: 30px;
}
.teacher_list {
    display: flex;
    flex-wrap: wrap;
}
.teacher_item {
    padding: 10px 15px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    /* transform: translateX(-100px); */
}
.teacher_img {
    border-radius: 50%;
}
.teacher_name {
    text-align: center;
    word-wrap: break-word;
}
.teacher_desc {
    text-align: center;
    word-wrap: break-word;
    font-size: 18px;
}
@keyframes animation_menu {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}
